{% extends "base.html" %}

{% block content %}
<h2>Your Wishlist</h2>

{% if wishlist_items %}
    <ul id="wishlist-items-container">
        {% for item in wishlist_items %}
            <li class="wishlist-item">
                <img src="{{ item.image }}" alt="{{ item.name }}" width="100">
                <p>{{ item.name }}</p>
                <p>Price: £{{ item.price }}</p>
                <button class="remove-from-wishlist" data-product-id="{{ item.id }}">Remove from Wishlist</button>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Your wishlist is empty.</p>
{% endif %}
{% endblock %}